
<div>

 <form action = '/getrecipe' method = 'GET'>
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="searchbar">
                <div class="form-group ">
                    <input type="text" name = 'ingredients' class="bar" style="width:588px; height:44px; outline:none;" class="form-control" >
                    <input type="submit" value="Go">
                     {{!-- <a href="/"><i style="margin-left:559px; top:-30px; "class="glyphicon glyphicon-search"></i></a> --}}
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{{!-- depending on the value of the listExists variable --}}
{{!-- if it’s true then the list will be rendered --}}
{{!-- if the value is equal to false the list will not be rendered --}}
{{#if listExists}} 
  <ul>
    {{#each output}}
    <div class="container my-auto">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <h3> {{this.1.title}}</h3>
              <p> {{this.1.ingredients}}</p>
              <br><br>
              <p class='speech'>{{this.1.instructions}}</p>
            </div>
            </div>
            </div>
            </div>
    </div>
    {{/each}}
  </ul>
{{/if}}

</div>