

  <div id="logo">
     <img src="/3.png" width="1054" height = "608"> </img> 
  </div> 

<div>


 <form action = '/getrecipe' method = 'GET' class = 'form-inline global-search'>
    <div class="form-group ui-widget">
        <input class = 'form-control' type="text" name = 'ingredients' placeholder = 'Enter Ingredients'>
        <input class = 'btn' type="submit" value="Go">
        {{!-- <a href="/"><i style="margin-left:559px; top:-30px; "class="glyphicon glyphicon-search"></i></a> --}}
    </div>
</form>
{{!-- depending on the value of the listExists variable --}}
{{!-- if it’s true then the list will be rendered --}}
{{!-- if the value is equal to false the list will not be rendered --}}
{{#if listExists}} 
  <ul>
    {{#each output}}
    <br><br> 
    <div class="container my-auto">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <h3> {{this.1.title}}</h3>
              {{!-- <p> {{this.1.ingredients}}</p> --}}
              <br><br>
              <p class='speech'>{{this.1.instructions}}</p>
            </div>
            </div>
            </div>
            </div>
    </div>
    {{/each}}
  </ul>
{{/if}}

</div>